TELEGRAM_TOKEN=

POSTGRES_DB=drizzy
POSTGRES_USER=drizzy
POSTGRES_PASSWORD=changeme
POSTGRES_DSN=postgres://drizzy:changeme@localhost:5432/drizzy?sslmode=disable

RABBITMQ_USER=drizzy
RABBITMQ_PASS=changeme

MINIO_ROOT_USER=drizzy
MINIO_ROOT_PASSWORD=changeme
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=drizzy
MINIO_SECRET_KEY=changeme

REDIS_ADDR=localhost:6379
